:root {
  --slidev-code-padding: 8px 10px;
  --slidev-code-background: #16161690 !important;
}

h6 {
  text-transform: initial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

.slidev-slide-content{
  background: #000 !important;
}


.fade-out-leave-active {
    transition: opacity calc(var(--slidev-transition-duration) * 0.6) ease-out, filter 200ms ease;
}

.fade-out-enter-active {
    transition-delay: calc(var(--slidev-transition-duration) * 0.6);
}

.slidev-vclick-target {
    transition: opacity 500ms ease, filter 200ms ease;
}

.slidev-vclick-hidden {
    opacity: 0;
    pointer-events: none;
    filter: blur(3px);
}

.slidev-code {
  backdrop-filter: blur(10px);
  border: 1px solid #eee1;
}

.slidev-layout :not(pre)>code {
  color: var(--bg-key);
  background: none;
}