[variant] {
    transition: all 2.5s ease-out,
     --bg-key 2.5s ease-out,
     --bg-f-grad 2.5s ease-out,
     --bg-s-grad 2.5s ease-out,
     --bg-t-grad 2.5s ease-out,
}

@property --bg-key {
    syntax: '<color>';
    initial-value: theme('colors.gray.800');
    inherits: true;
}

@property --bg-f-grad {
    syntax: '<color>';
    initial-value: theme('colors.gray.800');
    inherits: true;
}

@property --bg-s-grad {
    syntax: '<color>';
    initial-value: theme('colors.gray.800');
    inherits: true;
}